doctype html 
html
  head
    title Life of Giving | Adopt A child Now
    block scripts
        <script src="https://kit.fontawesome.com/d53eb6a175.js" crossorigin="anonymous"></script>
    block style
    <link rel="icon" id="website-logo" href="../static/logoimg.png" type="iamge/x-icon"  >
        
  body
    div.s-links
        div.social-links
            <ul>
                <li> <a href="https://twitter.com/vedantdabhade" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li> <a href="https://www.facebook.com/vedant.dabhade.52/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li> <a href="https://www.instagram.com/vedant_patil.4/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li> <a href="https://www.linkedin.com/in/vedant-dabhade-870b6925a/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li> <a href="https://github.com/Vedant1805" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        div.sltag
            div#sponsor
                a(href="/about") 
                        <button id="sponsor">Sponsor</button>
            div#login
                 button Login

    nav(class="navbar" id="navbar" onscroll="myFunction()")
        div.logo
                a(href="/") 
                    h1 Child<span>Hope</span>  
        ul 
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/contact") Contact]
            li #[a(href="/event") Event]
            
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    block content
    
    footer 
        div#index
            h1 Child<span>Hope</span>  
             hr
            p Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt ut labore.
            div.staycon
                h2 Stay Connected
                hr
                div.staylinks
                    <li> <a href="https://twitter.com/vedantdabhade" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    <li> <a href="https://www.facebook.com/vedant.dabhade.52/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li> <a href="https://www.instagram.com/vedant_patil.4/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li> <a href="https://www.linkedin.com/in/vedant-dabhade-870b6925a/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li> <a href="https://github.com/Vedant1805" target="_blank"><i class="fa-brands fa-github"></i></a></li>

        div#services
            h1 Quick Links
             hr
            ul 
                li #[a(href="/") Home]
                li #[a(href="/about") About]
                li #[a(href="/contact") Contact]
                li #[a(href="/event") Event]
        
        div#news
            h1 Top News
             hr
            div.firstnew
                img(src="../static/Volunteer/join-us.jpg", alt="")
                div.firstinfo
                    h2 School for African<br> Childrens 
                    span Jun 12,2019

            div.secondnew
                img(src="../static/Volunteer/join-us.jpg", alt="")
                div.secondinfo
                    h2 School for African <br>Childrens 
                    span Jun 12,2019
                    

            
    h3#Copyright Copyright ©2022 All rights reserved