/*  ***IMPORTED LANGUAGES */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');

/********HEAD_LINKS SECTION*******/
.s-links {
    display: flex;
    background-color: #bc5148;
    justify-content: space-around;
    align-items: center;
    height: 43px;
}

.s-links ul {
    display: flex;
    list-style: none;
}

.s-links ul li {
    padding: 1px 8px;
    align-items: center;
}

.s-links ul li a {
    position: relative;
    right: 76px;
    /* font-size: 0.9rem; */
    color: black;
    transition-duration: 0.3s;
}

.s-links ul li a :hover {
    color: white;
    transition-duration: 0.3s;
    transform: rotateY(360deg);
}

.sltag {
    display: flex;
    list-style: none;
    position: relative;
    left: 28px;
    color: black;
}

.sltag button {
    font-size: 1rem;
    background: transparent;
    border: none;
    margin: 0px 10px;
    padding: 14px;
    cursor: pointer;
    font-family: 'Baloo Thambi 2', cursive;
    transition-duration: 0.3s;
}

.sltag button:hover {
    color: white;
}

#login {
    background-color: #f4b214;
}

/* SCROLL BUTTON */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    border: none;
    outline: none;
    background-color: #dd3e3e;
    color: white;
    cursor: pointer;
    padding: 11px;
    border-radius: 17px;
    font-size: 18px;
}

/* ****JAVASCRIPT**** */
.opacity {
    opacity: 0;
    transition-duration: 0.3s;
}

.background {
    transition-duration: 0.3s;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* UNIVERSAL */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#call-us {
    text-decoration-line: underline;
}

*::selection {
    color: black;
    background-color: white;
}

input::placeholder {
    color: white;
}

/* ****UPCOMING-EVENTS */
.events {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3c1919;
    width: 100%;
    height: 105px;
}

.events #social-top img {
    height: 38px;
    margin: 12px;
}

.events span {
    padding: 0px 12px;
}

.upcoming-events {
    display: flex;
    text-align: center;
    color: white;
}

.upcoming-events h2 {
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 13px;
    right: 32px;
}

.upcoming-events p {
    text-align: center;
    font-size: 25px;
}

.upcoming-events div {
    margin: 1px 20px;
    font-family: 'Lato', sans-serif;
}

.events .upcoming-events .read-more a {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    color: #dd3e3e;
    text-decoration: none;
    top: 11px;
    left: 11px;
    position: relative;
}

.MY {
    font-size: 21px;
    color: white;
    font-family: 'Lato', sans-serif;
}


/* ****SECTION FOR NAVBAR****  */
.navbar {
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0px;
    z-index: 10;
}

.navbar .logo a {
    font-size: 1.1rem;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.navbar .logo span {
    color: #dd3e3e;
}

.navbar ul {
    display: flex;

}

.navbar ul li {
    padding: 0px 13px;
    font-family: 'Baloo Thambi 2', cursive;
    list-style: none;
}

.navbar ul li a {
    color: black;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    text-decoration: none;
    /* padding: 1px 14px; */
    transition: color .3s ease;
}

.navbar ul li a:hover {
    color: black;
    font-family: 'Baloo Thambi 2', cursive;
}

.navbar .send-donation button {
    height: 50px;
    width: 186px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    transition: ease-out 0.5s;
    padding: 14px 23px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;
    background: #dd3e3e;
    letter-spacing: 1px;
    text-align: center;
}

/* ****SECTION FOR INTRODUCTION**** */

#introsection {
    /* background: center/cover no-repeat url(/static/threegirls.jpg); */
    background: center/cover no-repeat url(/static/home/main-intro\ -\ Copy.jpg);
    height: 790px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intromp {
    margin-left: 10px;

}

#name {
    font-size: 2.1rem;
    font-family: "Sacramento", cursive;
    margin-top: 10px;

}

#parents {
    font-size: 2.3rem;
    font-family: 'Lato', sans-serif;
    /* margin-top: 10px; */
    margin-bottom: 30px;
}

#childinfo {
    font-size: 1.1rem;
    width: 544px;
    font-family: "Open Sans", Arial, sans-serif;
    opacity: 0.9;
}

.adopt {
    height: 56px;
    width: 187px;
    border: 2px solid #dd3e3e;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    padding: 1px 26px;
    margin-top: 23px;
    cursor: pointer;
    transition: ease-out 0.5s;
    color: #fff;
    border-radius: 10px;
    background: #dd3e3e;
}

.adopt:hover {
    border: 2px solid white;
    background: transparent;
}

/* ****SECTION FOR CARDS**** */

#causes {
    /* height: 1310px; */
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#causesmp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#major {
    font-size: 2.4rem;
    font-family: 'Lato', sans-serif;
}

#creepeth {
    margin-top: 7px;
    font-size: 1.1rem;
    font-family: 'Baloo Thambi 2', cursive;
    opacity: 0.8;
}

.card {
    transition: ease-in-out all 1s;
    margin-top: 64px;
    /* height: 870px; */
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
}

.opacitycard {
    opacity: 1;
    transition: ease-in 1.5s;
}

.card img {
    margin-bottom: 35px;
    vertical-align: middle;
    border-style: none;
}

.card h4 {
    font-size: 20px;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #222222;
}

.card p {
    text-align: center;
    width: 400px;
    border-radius: 20px;
    padding: 5px 71px;
    margin: 0px 10px 0px 0px;
    line-height: 25px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #777777;
}

#card1 {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 316px;
    border: 2px solid #f9fafc;
    background-color: #f9fafc;
    border-radius: 20px;
    padding: 50px;
    border-radius: 5px;
    box-shadow: none;
    text-align: center;
    margin-bottom: 30px;
    transition: all 300ms linear 0s;
}

#card2 {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 316px;
    border: 2px solid #f9fafc;
    background-color: #f9fafc;
    border-radius: 20px;
    padding: 50px;
    border-radius: 5px;
    box-shadow: none;
    text-align: center;
    margin-bottom: 30px;
    transition: all 300ms linear 0s;

}

#card3 {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 316px;
    border: 2px solid #f9fafc;
    background-color: #f9fafc;
    border-radius: 20px;
    padding: 50px;
    border-radius: 5px;
    box-shadow: none;
    text-align: center;
    margin-bottom: 30px;
    transition: all 300ms linear 0s;
}

#card1:hover {
    box-shadow: 0px 20px 30px rgb(153 153 153 / 20%)
}

#card2:hover {
    box-shadow: 0px 20px 30px rgb(153 153 153 / 20%)
}

#card3:hover {
    box-shadow: 0px 20px 30px rgb(153 153 153 / 20%)
}

/* ****MAP SECTION **** */
.map {
    margin-top: 100px;
    height: 500px;
}

/* SECTOIN FOR ABOUT US PAGE REDIRECT */
#aboutpg {
    margin-top: 170px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#aboutpg::before {
    content: "";
    position: absolute;
    background: url(../static/home/homebg.jpg)no-repeat center center/cover;
    height: 550px;
    width: 100%;
    z-index: -1;
    filter: brightness(20%);
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 50%;
}

.left h2 {
    font-size: 22px;
    font-family: "Montserrat", Arial, sans-serif;
    color: white;
    line-height: 1.8;
}

.left h1 {
    font-size: 40px;
    color: #fd645b;
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;

}

.left p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.8;
    margin: 10px 90px 24px 0px;
    color: white;
    opacity: 0.7;
}

.left button {
    height: 56px;
    width: 187px;
    color: #dd3e3e;
    background: white;
    border: 2px solid white;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    padding: 1px 26px;
    margin-top: 23px;
    cursor: pointer;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 #dd3e3e;
}

.left button:hover {
    box-shadow: inset 270px 0 0 0 #dd3e3e;
    border: 2px solid #dd3e3e;
    color: white;
}

.right {
    /* border: 2px solid white; */
    /* width: 50%; */
    overflow: hidden;
}

.right img {
    height: 390px;
    transition: ease-out 0.3s;
}

.right img:hover {
    transform: scale(1.1);
}

/* ****SECTION FOR NEED-HELP */
#need-help {
    margin-top: 150px;
    height: 550px;
    width: 100%;
}

#need-help::before {
    content: "";
    position: absolute;
    background: url(../static/home/need-help.jpg)no-repeat center center/cover;
    height: 550px;
    width: 100%;
    z-index: -1;
}

.cardtemp {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 335px;
    width: 500px;
    margin-top: 132px;
    left: 1%;
    position: absolute;
    background-color: white;
    border-radius: 10px;
}

.cardtemp h1 {
    font-size: 2.4rem;
    font-family: 'Lato', sans-serif;
    margin-top: 35px;
    margin-bottom: 18px;
}

.cardtemp p,
#help-span {
    font-size: 1rem;
    color: black;
    width: 85%;
    opacity: 0.7;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 20px;
    padding: 18px auto;
    margin: 13px 1px 12px -12px;
}

#need-ourhelp-btn {
    height: 55px;
    width: 187px;
    border-radius: 42px;
    color: white;
    border: 2px solid #C30047;
    background-color: #C30047;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    padding: 1px 26px;
    margin-top: 30px;
    right: 65%;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #c30047;
    transition: ease-out 0.3s;
    position: relative;
}

#need-ourhelp-btn:hover {
    box-shadow: inset 205px 0 0 0 #e6115f;
    ;

}

/* FOTTER */
footer {
    margin-top: 100px;
    height: 380px;
    width: 100%;
    display: flex;
    background-color: #fcf3f3;
    justify-content: space-evenly;
}

footer::before {
    content: "";
    position: absolute;
    background: url(../static/footer.jpg)no-repeat center center/cover;
    height: 380px;
    width: 100%;
    z-index: -1;
    filter: brightness(20%);
    display: flex;

}

#index {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#index h1 {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

#index hr {
    color: #dd3e3e;
    border: 1.5px solid #dd3e3e;
    background-color: #dd3e3e;
    width: 75%;
}

#index span {
    font-family: 'Montserrat', sans-serif;
    color: #dd3e3e;

}

#index p {
    font-size: 16px;
    font-weight: 400;
    color: #7A7B7C;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    /* line-height: 1.8; */
}

.staycon h2 {
    font-size: 22px;
    font-family: "Montserrat", Arial, sans-serif;
}

.staycon hr {
    width: 75%;
}

.staylinks {
    display: flex;
}

.staycon li {
    display: flex;
    margin: 12px;
    list-style: none;
}

.staycon i {
    color: black;
}

#services {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#services hr {
    color: #dd3e3e;
    border: 1.5px solid #dd3e3e;
    background-color: #dd3e3e;
    width: 100%;
}

#services h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#services ul {
    /* display: flex; */
    line-height: 1.8;
    /* margin: 12px; */
    list-style: none;
}

#services li a {
    font-size: 1.3rem;
    color: #481D1D;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    bottom: 20px;

}

#news {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#news hr {
    color: #dd3e3e;
    border: 1.5px solid #dd3e3e;
    background-color: #dd3e3e;
    width: 70%;
}

#news img {
    height: 75px;
    border-radius: 15px;
}

#news h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.firstnew {
    display: flex;
    align-items: center;
}

.firstnew h2 {
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #481D1D;
    margin-left: 11px;
    margin-bottom: 8px;
}

.firstnew span {
    font-family: "Open Sans", sans-serif;
    color: #7A7B7C;
    font-weight: 400;
    font-size: 15px;
    display: block;
    line-height: 1;
    margin-left: 11px;
}

.secondnew {
    display: flex;
    align-items: center;

}

.secondnew h2 {
    font-size: 15px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #481D1D;
    margin-left: 11px;
    margin-bottom: 8px;
}

.secondnew span {
    font-family: "Open Sans", sans-serif;
    color: #7A7B7C;
    font-weight: 400;
    font-size: 15px;
    display: block;
    line-height: 1;
    margin-left: 11px;
}

#Copyright {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #fcf3f3;
}